{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block page-content %}
    <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-6 col-8 align-self-center">
                        <h3 class="text-themecolor m-b-0 m-t-0">Profile</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                            <li class="breadcrumb-item active">Profile</li>
                        </ol>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- Row -->
                <div class="row">
                    <!-- Column -->
                    <div class="col-lg-4 col-xlg-3 col-md-5">
                        <div class="card">
                            <div class="card-block">
                                <center class="m-t-30"> <img src="{% static 'hitrack/assets/images/users/5.png' %}" class="img-circle" width="150" />
                                    <h4 class="card-title m-t-10">
                                        {% if request.user.first_name %}
                                            {{ request.user.first_name }}
                                        {% else %}
                                            {{ request.user }}
                                        {% endif %}
                                    </h4>
                                </center>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <!-- Column -->
                    <div class="col-lg-8 col-xlg-9 col-md-7">
                        <div class="card">
                            <div class="card-block">
                               <h4 class="card-title text-center">Change Password</h4>
                                <form class="form-horizontal form-material" method="post" action="{% url 'accounts:change_password' %}">{% csrf_token %}
                                    {% if form.non_field_errors %} <div class="alert alert-danger" role="alert">{{ form.non_field_errors }}</div> {% endif %}
                                    {% for field in form.visible_fields %}
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                {{ field|add_class:'form-control form-control-line' }}
                                            </div>
                                            {% if field.errors %}<span class="error">{{ field.errors.as_text }}</span>{% endif %}
                                        </div>
                                    {% endfor %}
                                    <div class="form-group">
                                        <div class="col-sm-12 text-center">
                                            <button class="btn btn-success" type="submit">Change password</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                </div>
                <!-- Row -->
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
    </div>
{% endblock %}