{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block page-content %}
    <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-6 col-8 align-self-center">
                        <h3 class="text-themecolor m-b-0 m-t-0">Info</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                            <li class="breadcrumb-item active">info</li>
                        </ol>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <!-- column -->
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-block">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Azercell center</th>
                                                <th>Problem title</th>
                                                <th>Problem type</th>
                                                <th>Device</th>
                                                <th>Current Status</th>
                                                <th>Cost</th>
                                                <th>Detail</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for r in repair_jobs %}
                                                <tr>
                                                    <td>{{ r.azercell_center }}</td>
                                                    <td>{{ r.problem_title }}</td>
                                                    <td>{{ r.problem_type|default_if_none:"other" }}</td>
                                                    <td>{{ r.device.name }}({{ r.device.device_type }})</td>
                                                    <td><code>{{ r.current_status }}</code></td>
                                                    <td>{{ r.cost }}</td>
                                                    <td><a class="get-more" href="{% url 'customer_side:repair_jobs_update' r.id %}">more</a></td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <nav aria-label="Page navigation">
                                    {% if repair_jobs %}
                                        {% include "customer_side/pagination.html" %}
                                    {% endif %}
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
    </div>
{% endblock %}