{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block page-content %}
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-6 col-8 align-self-center">
                <h3 class="text-themecolor m-b-0 m-t-0">Info</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item active">info</li>
                </ol>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        {% if repair %}
        <div class="row get-data" data-value="{% url 'customer_side:repair_jobs_update' repair.pk %}">
            <!-- column -->
            <div class="col-sm-7 col-md-7">
                <div class="card">
                    <div class="card-block">
                        <p>
                            Azercell Center : {{ repair.azercell_center }}
                        </p>
                        <p>
                            Problem: <span>{{ repair.problem_title }}</span>
                        </p>
                        <p>
                            Device: <span>{{ repair.device }}</span>
                        </p>
                        <p>
                            <span>{{ repair.description }}</span>
                        </p>
                        <p>
                            <code>
                                Request date: <span>{{ repair.created_at }}</span>
                            </code>
                        </p>
                        {% if repair.cost %}
                            <p>
                                Cost: <span>{{ repair.cost }} AZN</span>
                            </p>
                        {% endif %}
                        {% if not repair.confirmed_by_owner %}
                        <form action="" class="clearfix">
                            <div class="col-sm-12 text-center">
                                <button class="btn btn-success agreed pull-right">I agree</button>
                            </div>
                        </form>
                        {% endif %}
                        <div class="agreed-box"></div>
                        {% if repair.timeline_set.all %}
                        <aside class="trackDetailWrapper">

                            <ul class="trackDetail">
                                {% for timeline in repair.timeline_set.all %}
                                <li>
                                    <span class="track-status">{{ timeline.repair_status }}</span>
                                    <span class="track-circle circle-1"></span>
                                    <span class="track-date">{{ timeline.created_at }}</span>
                                </li>
                                {% endfor %}
                            </ul>

                        </aside>
                        <div class="clearfix">
                            <i class="fa fa-2x fa-arrows-h pull-right"></i>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="card">
                    <div class="card-block">
                        <aside class="rate-stars">
                            <label for="rate">Rate</label>
                            {% for x in "*****"%}
                            {% if repair.rate >= forloop.counter %}
                            <span data-rate="{{forloop.counter}}" class="fa fa-star checked"></span>
                            {% else %}
                            <span data-rate="{{forloop.counter}}" class="fa fa-star"></span>
                            {% endif %}
                            {% endfor %}
                        </aside>
                        <form class="form-horizontal form-material">
                            <div class="form-group">
                                <label class="col-md-12"></label>
                                <div class="col-md-12">
                                    <textarea name="" id="comment" cols="30" rows="2" placeholder="Comment"
                                              class="form-control form-control-line"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12 text-center">
                                    <button class="btn btn-success send-comment pull-right">Send</button>
                                </div>
                            </div>
                        </form>
                        <div class="comments">
                            <p class="comment-box"></p>
                            <p style="float: right">
                                {% if repair.comment %}
                            <h3>Your comment</h3>
                            <p class="user-comment">{{ repair.comment }}</p>
                            {% endif %}
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
</div>
{% endblock %}